@model IEnumerable<Web.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>    
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var employee = $.connection.employeeHub;

            employee.client.getValue = function (name, surname) {
                $('#container').append('<tr><td>' + name + '</td><td>' + surname + '</td></tr>');
            }

            $.connection.hub.start().done(function () {

            })
        })
    </script>
}

<h2>Your Employee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th></th>
    </tr>
    <tbody id="container">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
            </tr>
        }
    </tbody>

</table>
